# Основные файлы и папки Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userossc
*.sln.docstates

# Временные файлы сборки
[Bb]in/
[Oo]bj/
[Ll]og/
.vscode/

# Папки и файлы, генерируемые при сборке
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Dd][Ee][Bb][Uu][Gg][Pp][Ss]/
[Rr][Ee][Ll][Ee][Aa][Ss][Ee][Pp][Ss]/
build/
[Bb]uild/
releases/
# Поддержка подпроектов ASP.NET MVC
project.lock.json
project.fragment.lock.json
artifacts/

# Системные файлы
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Файлы конфигурации, содержащие пользовательские данные
*.psess
*.vsp
*.vspx
*.tree
*.opendb
*.suo
*.user
*.userossc
*.sln.docstates

# Конфигурация Rider
.idea/
.idea/

# Конфигурация JetBrains Rider
.idea/

# Windows образ и Crash dump файлы
*.swp
*.swo
*.zip
*.tar.gz
*.log
*.nupkg
*.snupkg
*.gz
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Cake - не включать файлы и папки, создаваемые Cake
tools/**/*
#!включать Cake.exe или другие исполняемые файлы
tools/**/*.exe
tools/**/*.dll
tools/**/*.pdb
tools/**/*.exe.config
tools/**/*.x86
tools/**/*.x64
tools/**/*.ps1
tools/**/*.sh
tools/**/*.bat
tools/**/*.pkg
tools/**/*.nupkg
tools/**/*.sha512
tools/**/*.md5
tools/**/*.json
tools/**/*.props
tools/**/*.config
tools/**/*.lib
tools/**/*.metaproj
tools/**/*.nuget.config
tools/**/*.nuspec
tools/**/*.tokens
tools/**/*.build
tools/**/*.template
tools/**/*.psd1
tools/**/*.psm1
tools/**/*.gitignore
tools/**/*.markdown
tools/**/*.md
tools/**/*.csproj.user
tools/**/*.vbproj.user
tools/**/*.suo
tools/**/*.pidb
tools/**/*.svclog
tools/**/*.user
tools/**/*.userossc
tools/**/*.sln.docstates

# Cake - не включать все нестандартные (не ядра) инструменты
tools/**/*.msbuild.tasks
tools/**/*.props

# Не включать документацию, созданную на основе XML-комментариев
tools/**/*.xml

# Не включать файлы PDB (отладочные файлы)
tools/**/*.pdb
tools/**/*.mdb

# Не включать скомпилированные классы в Java (если есть)
tools/**/*.class

# Не включать файлы и папки, созданные .NET Code Coverage
tools/**/*.coverage
tools/**/*.coveragexml

# Не включать все файлы и папки NuGet пакетов
tools/**/*.nupkg
tools/**/*.snupkg
tools/**/*.nuspec

# Не включать текстовые файлы
tools/**/*.txt

# Не включать пустые папки
tools/**/empty/

# Не включать файлы nuget.exe
tools/**/*.nuget.exe

# Не включать файлы и папки инструментария MSBuild
tools/**/*.targets
tools/**/*.tasks
tools/**/*.props
tools/**/*.proj
tools/**/*.sln
tools/**/*.filters

# Не включать файлы и папки инструментария Mono
tools/**/*.lib
tools/**/*.dylib
tools/**/*.exe
tools/**/*.dll
tools/**/*.exe.config
tools/**/*.sh
tools/**/*.bat

# Не включать файлы и папки инструментария XUnit
tools/**/*.xunit.runner.visualstudio.testadapter.dll
tools/**/*.xunit.runner.visualstudio.testadapter.dll.config

# Не включать файлы и папки инструментария Moq
tools/**/*.moq.dll

# Не включать файлы и папки инструментария FluentAssertions
tools/**/*.fluentassertions.dll

# Не включать файлы и папки инструментария NSubstitute
tools/**/*.nsubstitute.dll

# Не включать файлы и папки инструментария FakeItEasy
tools/**/*.fakeiteasy.dll

# Не включать файлы и папки инструментария SpecFlow
tools/**/*.specflow.dll

# Не включать файлы и папки инструментария xBehave
tools/**/*.xbehave.dll

# Не включать файлы и папки инструментария Fixie
tools/**/*.fixie.dll

# Не включать файлы и папки инструментария AutoFixture
tools/**/*.autofixture.dll

# Не включать файлы и папки инструментария FsCheck
tools/**/*.fscheck.dll

# Не включать файлы и папки инструментария BenchmarkDotNet
tools/**/*.benchmarkdotnet.dll

# Не включать файлы и папки инструментария Coverlet
tools/**/*.coverlet.dll

# Не включать файлы и папки инструментария ReportGenerator
tools/**/*.reportgenerator.dll

# Не включать файлы и папки инструментария SonarQube
tools/**/*.sonarqube.dll

# Не включать файлы и папки инструментария dotCover
tools/**/*.dotcover.dll

# Не включать файлы и папки инструментария OpenCover
tools/**/*.opencover.dll

# Не включать файлы и папки инструментария NCover
tools/**/*.ncover.dll

# Не включать файлы и папки инструментария TeamCity
tools/**/*.teamcity.dll

# Не включать файлы и папки инструментария Jenkins
tools/**/*.jenkins.dll

# Не включать файлы и папки инструментария Travis
tools/**/*.travis.dll

# Не включать файлы и папки инструментария AppVeyor
tools/**/*.appveyor.dll

# Не включать файлы и папки инструментария GitHub Actions
tools/**/*.githubactions.dll

# Не включать файлы и папки инструментария Azure Pipelines
tools/**/*.azurepipelines.dll

# Не включать файлы и папки инструментария GitLab CI
tools/**/*.gitlabci.dll

# Не включать файлы и папки инструментария Bitbucket Pipelines
tools/**/*.bitbucketpipelines.dll

# Не включать файлы и папки инструментария CircleCI
tools/**/*.circleci.dll

# Не включать файлы и папки инструментария Team Foundation Server
tools/**/*.tfs.dll

# Не включать файлы и папки инструментария Visual Studio Team Services
tools/**/*.vsts.dll

# Не включать файлы и папки инструментария Octopus Deploy
tools/**/*.octopusdeploy.dll

# Не включать файлы и папки инструментария DeployBot
tools/**/*.deploybot.dll

# Не включать файлы и папки инструментария Bitrise
tools/**/*.bitrise.dll

# Не включать файлы и папки инструментария Buildkite
tools/**/*.buildkite.dll

# Не включать файлы и папки инструментария Shippable
tools/**/*.shippable.dll

# Не включать файлы и папки инструментария Semaphore
tools/**/*.semaphore.dll

# Не включать файлы и папки инструментария Wercker
tools/**/*.wercker.dll

# Не включать файлы и папки инструментария Drone
tools/**/*.drone.dll

# Не включать файлы и папки инструментария Buddy
tools/**/*.buddy.dll

# Не включать файлы и папки инструментария Codeship
tools/**/*.codeship.dll

# Не включать файлы и папки инструментария Codefresh
tools/**/*.codefresh.dll

# Не включать файлы и папки инструментария Concourse CI
tools/**/*.concourseci.dll

# Не включать файлы и папки инструментария GoCD
tools/**/*.gocd.dll

# Не включать файлы и папки инструментария Hudson
tools/**/*.hudson.dll

# Не включать файлы и папки инструментария Bamboo
tools/**/*.bamboo.dll

# Не включать файлы и папки инструментария CruiseControl
tools/**/*.cruisecontrol.dll

# Не включать файлы и папки инструментария TeamCity
tools/**/*.teamcity.dll

# Не включать файлы и папки инструментария Jenkins
tools/**/*.jenkins.dll

# Не включать файлы и папки инструментария Travis
tools/**/*.travis.dll

# Не включать файлы и папки инструментария AppVeyor
tools/**/*.appveyor.dll

# Не включать файлы и папки инструментария GitHub Actions
tools/**/*.githubactions.dll

# Не включать файлы и папки инструментария Azure Pipelines
tools/**/*.azurepipelines.dll

# Не включать файлы и папки инструментария GitLab CI
tools/**/*.gitlabci.dll

# Не включать файлы и папки инструментария Bitbucket Pipelines
tools/**/*.bitbucketpipelines.dll

# Не включать файлы и папки инструментария CircleCI
tools/**/*.circleci.dll

# Не включать файлы и папки инструментария Team Foundation Server
tools/**/*.tfs.dll

# Не включать файлы и папки инструментария Visual Studio Team Services
tools/**/*.vsts.dll

# Не включать файлы и папки инструментария Octopus Deploy
tools/**/*.octopusdeploy.dll

# Не включать файлы и папки инструментария DeployBot
tools/**/*.deploybot.dll

# Не включать файлы и папки инструментария Bitrise
tools/**/*.bitrise.dll

# Не включать файлы и папки инструментария Buildkite
tools/**/*.buildkite.dll

# Не включать файлы и папки инструментария Shippable
tools/**/*.shippable.dll

# Не включать файлы и папки инструментария Semaphore
tools/**/*.semaphore.dll

# Не включать файлы и папки инструментария Wercker
tools/**/*.wercker.dll

# Не включать файлы и папки инструментария Drone
tools/**/*.drone.dll

# Не включать файлы и папки инструментария Buddy
tools/**/*.buddy.dll

# Не включать файлы и папки инструментария Codeship
tools/**/*.codeship.dll

# Не включать файлы и папки инструментария Codefresh
tools/**/*.codefresh.dll

# Не включать файлы и папки инструментария Concourse CI
tools/**/*.concourseci.dll

# Не включать файлы и папки инструментария GoCD
tools/**/*.gocd.dll

# Не включать файлы и папки инструментария Hudson
tools/**/*.hudson.dll

# Не включать файлы и папки инструментария Bamboo
tools/**/*.bamboo.dll

# Не включать файлы и папки инструментария CruiseControl
tools/**/*.cruisecontrol.dll

# Не включать файлы и папки инструментария Jenkins
tools/**/*.jenkins.dll

# Не включать файлы и папки инструментария Travis
tools/**/*.travis.dll

# Не включать файлы и папки инструментария AppVeyor
tools/**/*.appveyor.dll

# Не включать файлы и папки инструментария GitHub Actions
tools/**/*.githubactions.dll

# Не включать файлы и папки инструментария Azure Pipelines
tools/**/*.azurepipelines.dll

# Не включать файлы и папки инструментария GitLab CI
tools/**/*.gitlabci.dll

# Не включать файлы и папки инструментария Bitbucket Pipelines
tools/**/*.bitbucketpipelines.dll

# Не включать файлы и папки инструментария CircleCI
tools/**/*.circleci.dll

# Не включать файлы и папки инструментария Team Foundation Server
tools/**/*.tfs.dll

# Не включать файлы и папки инструментария Visual Studio Team Services
tools/**/*.vsts.dll

# Не включать файлы и папки инструментария Octopus Deploy
tools/**/*.octopusdeploy.dll

# Не включать файлы и папки инструментария DeployBot
tools/**/*.deploybot.dll

# Не включать файлы и папки инструментария Bitrise
tools/**/*.bitrise.dll

# Не включать файлы и папки инструментария Buildkite
tools/**/*.buildkite.dll

# Не включать файлы и папки инструментария Shippable
tools/**/*.shippable.dll

# Не включать файлы и папки инструментария Semaphore
tools/**/*.semaphore.dll

# Не включать файлы и папки инструментария Wercker
tools/**/*.wercker.dll

# Не включать файлы и папки инструментария Drone
tools/**/*.drone.dll

# Не включать файлы и папки инструментария Buddy
tools/**/*.buddy.dll

# Не включать файлы и папки инструментария Codeship
tools/**/*.codeship.dll

# Не включать файлы и папки инструментария Codefresh
tools/**/*.codefresh.dll

# Не включать файлы и папки инструментария Concourse CI
tools/**/*.concourseci.dll

# Не включать файлы и папки инструментария GoCD
tools/**/*.gocd.dll

# Не включать файлы и папки инструментария Hudson
tools/**/*.hudson.dll

# Не включать файлы и папки инструментария Bamboo
tools/**/*.bamboo.dll

# Не включать файлы и папки инструментария CruiseControl
tools/**/*.cruisecontrol.dll

# Не включать файлы и папки инструментария TeamCity
tools/**/*.teamcity.dll

# Не включать файлы и папки инструментария Jenkins
tools/**/*.jenkins.dll

# Не включать файлы и папки инструментария Travis
tools/**/*.travis.dll

# Не включать файлы и папки инструментария AppVeyor
tools/**/*.appveyor.dll

# Не включать файлы и папки инструментария GitHub Actions
tools/**/*.githubactions.dll

# Не включать файлы и папки инструментария Azure Pipelines
tools/**/*.azurepipelines.dll

# Не включать файлы и папки инструментария GitLab CI
tools/**/*.gitlabci.dll

# Не включать файлы и папки инструментария Bitbucket Pipelines
tools/**/*.bitbucketpipelines.dll

# Не включать файлы и папки инструментария CircleCI
tools/**/*.circleci.dll

# Не включать файлы и папки инструментария Team Foundation Server
tools/**/*.tfs.dll

# Не включать файлы и папки инструментария Visual Studio Team Services
tools/**/*.vsts.dll

# Не включать файлы и папки инструментария Octopus Deploy
tools/**/*.octopusdeploy.dll

# Не включать файлы и папки инструментария DeployBot
tools/**/*.deploybot.dll

# Не включать файлы и папки инструментария Bitrise
tools/**/*.bitrise.dll

# Не включать файлы и папки инструментария Buildkite
tools/**/*.buildkite.dll

# Не включать файлы и папки инструментария Shippable
tools/**/*.shippable.dll

# Не включать файлы и папки инструментария Semaphore
tools/**/*.semaphore.dll

# Не включать файлы и папки инструментария Wercker
tools/**/*.wercker.dll

# Не включать файлы и папки инструментария Drone
tools/**/*.drone.dll

# Не включать файлы и папки инструментария Buddy
tools/**/*.buddy.dll

# Не включать файлы и папки инструментария Codeship
tools/**/*.codeship.dll

# Не включать файлы и папки инструментария Codefresh
tools/**/*.codefresh.dll

# Не включать файлы и папки инструментария Concourse CI
tools/**/*.concourseci.dll

# Не включать файлы и папки инструментария GoCD
tools/**/*.gocd.dll

# Не включать файлы и папки инструментария Hudson
tools/**/*.hudson.dll

# Не включать файлы и папки инструментария Bamboo
tools/**/*.bamboo.dll

# Не включать файлы и папки инструментария CruiseControl
tools/**/*.cruisecontrol.dll

# Не включать файлы и папки инструментария TeamCity
tools/**/*.teamcity.dll

# Не включать файлы и папки инструментария Jenkins
tools/**/*.jenkins.dll

# Не включать файлы и папки инструментария Travis
tools/**/*.travis.dll

# Не включать файлы и папки инструментария AppVeyor
tools/**/*.appveyor.dll

# Не включать файлы и папки инструментария GitHub Actions
tools/**/*.githubactions.dll

# Не включать файлы и папки инструментария Azure Pipelines
tools/**/*.azurepipelines.dll

# Не включать файлы и папки инструментария GitLab CI
tools/**/*.gitlabci.dll

# Не включать файлы и папки инструментария Bitbucket Pipelines
tools/**/*.bitbucketpipelines.dll

# Не включать файлы и папки инструментария CircleCI
tools/**/*.circleci.dll

# Не включать файлы и папки инструментария Team Foundation Server
tools/**/*.tfs.dll

# Не включать файлы и папки инструментария Visual Studio Team Services
tools/**/*.vsts.dll

# Не включать файлы и папки инструментария Octopus Deploy
tools/**/*.octopusdeploy.dll

# Не включать файлы и папки инструментария DeployBot
tools/**/*.deploybot.dll

# Не включать файлы и папки инструментария Bitrise
tools/**/*.bitrise.dll

# Не включать файлы и папки инструментария Buildkite
tools/**/*.buildkite.dll

# Не включать файлы и папки инструментария Shippable
tools/**/*.shippable.dll

# Не включать файлы и папки инструментария Semaphore
tools/**/*.semaphore.dll

# Не включать файлы и папки инструментария Wercker
tools/**/*.wercker.dll

# Не включать файлы и папки инструментария Drone
tools/**/*.drone.dll

# Не включать файлы и папки инструментария Buddy
tools/**/*.buddy.dll

# Не включать файлы и папки инструментария Codeship
tools/**/*.codeship.dll

# Не включать файлы и папки инструментария Codefresh
tools/**/*.codefresh.dll

# Не включать файлы и папки инструментария Concourse CI
tools/**/*.concourseci.dll

# Не включать файлы и папки инструментария GoCD
tools/**/*.gocd.dll

# Не включать файлы и папки инструментария Hudson
tools/**/*.hudson.dll

# Не включать файлы и папки инструментария Bamboo
tools/**/*.bamboo.dll

# Не включать файлы и папки инструментария CruiseControl
tools/**/*.cruisecontrol.dll
